body{
    font-family: 'Baloo Paaji 2', cursive;
    font-family: 'Questrial', sans-serif;
    background: #EBE1E8;
}

header {
    padding: 1em;
}

header div {
    margin: 0 0 0 2em;
}

.logo {
    width: 10%;
    max-width: 100px;
    min-width: 50px;
    display: inline-block;
}

h1{
    font-family: 'Baloo Paaji 2';
    font-size: 40px;
    font-weight: 600;
    vertical-align:middle;
    display: inline-block;
    color: #601143;
}

.contenedor-principal, .contenedor-piedepagina{
    width: 90%;
    padding: 1em 3% 1em 3%;    margin: 0 auto;
}

.caja-formulario{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 0 5% 0 0;
}

p, input, textarea{
    font-family: 'Questrial';

}

textarea, input{
    font-size: 20px;
}

textarea{
    border: none;
    width: 94%;
    resize: none;
    background: none;
    padding: 3%;
    transition: 1s all;
    height: 350px;
    margin: 0 10% 0 0;
    overflow: auto;
    box-shadow: 2px 2px 40px -3px #D7C4D0;
    border-radius: 10px;

}

textarea:hover{
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.5);   
}

.caja-alerta {
    padding: 1em 0;
    margin: 0 1em;
}

.exclamacionalerta{
    margin: 0 1em 0 0;
    float: left;
}

.botonera{
    width: 100%;
    margin: 1em auto;
}

.botonera li{
    display: inline-block;
    width: 35%;
    margin: 0 7%;
    vertical-align: top;
}

.boton {
    padding: 1em;
    width: 100%;
    background: white;
    box-sizing: border-box;
    border: 2px solid #BEBD75;
    border-radius: 10px;
    transition: 1s all;
    min-width: 176px;
}

.boton:hover{
    box-shadow: inset 2px 2px 4px 0 ;
    background: #BEBD75;
    transform: scale(1.1);
}

.caja-resultado{
    background: white;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px #D7C4D0;
    padding: 2em 5%;
    text-align: center;
    display: inline-block;
    width: 40%;
    min-height: 450px;
}

.mensaje-resultado {
    width: 100%;
    height: 450px;
}

#mensaje-procesado {
    display: none;
}

.personaje {
    width: 90%;
    margin: 2em auto;
    max-width: 300px;
}

h2{
    font-family: 'Baloo Paaji 2';
    font-size: 25px;
    margin: 1em;
}

#tipoDeResultado h2{
    margin: 0 auto;
}

#impresionResultado {
    height: 290px;
    resize: none;
    padding: 1em 0 0 0;
    overflow: auto;
}

#copiar {
    width: 50%;
    margin: 40px auto 0;
    vertical-align: baseline;
}

footer{
    background: #601143;
    padding: 1em;
    vertical-align: baseline;
    position: absolute;
    margin: 2em 0 0 0;
    width: 100%;
    bottom: 0;
}

footer p{
    color: white;
}

.hechopor .logo {
    float: left;
    margin: 0 5% 0 0;
    height: 4em;
    width: auto;
}

.hechopor, .seguime{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin: 0;
}

.hechopor div .copyright:first-child{
    margin-top: 1em;
}

.seguime{
    text-align: center;
    float: right;
    max-width: 258px;
}

.botonesredes li{
    display: inline-block;
    margin: 1em 1%;
    min-width: 50px;
    width:  10%;
}

.redes-logo{
    width: 80%;
    transition: 0.5s;
} 

@media screen and (min-width: 821px) and (max-width: 1024px){ /*❚❚❚❚❚❚❚❚❚❚❚❚❚❚ HALF DESKTOP ❚❚❚❚❚❚❚❚❚❚❚❚❚❚*/

    header{
        height: 50px;
        padding: 10px;
    }

    header div{
        text-align: left;
        position: absolute;
        margin: 1em 40px;
    }

    .contenedor-principal{
        padding: 1em 3% 0 3%;
    }

    .caja-formulario{
        margin: 1em 5% 0 0;
    }    

    textarea{
        height: 240px;
    }

    .caja-alerta{
        margin: 0;
        padding: 5px 0;
    }

    .botonera{
        margin: 10px auto;
    }

    .boton{
        transform: scale(0.8);
    } 

    .caja-resultado{
        padding: 1%;
        height: 350px;
        min-height: 0;
    }

    .personaje {
        max-width: 200px;
        margin: 2em 0 0 0;
    }
    
    h2{
        padding: 10px 0 0;
        text-align: center;
    }

    .mensaje-resultado {
        height: 330px;
    }

    #impresionResultado{
        height: 210px;
        padding: 10px 10px;
    }

    #copiar{
        margin: 5px 0 0 0;
    }

    footer{
        position: unset;
        margin: 1px 0 0 0;
    }

}

@media screen and (min-width: 413px) and (max-width: 820px){ /*❚❚❚❚❚❚❚❚❚❚❚❚❚❚ TABLET ❚❚❚❚❚❚❚❚❚❚❚❚❚❚*/

    .caja-formulario, .caja-resultado {
        display: block;
        width: 90%;
        max-height: 450px;
        margin: 0 auto;
    }

    textarea, #impresionResultado {
        height: 280px;
        margin: 0;
    }

    .botonera {
        margin: 0 auto 2em 0;
    }

    .personaje {
        max-width: 400px;
        margin: 2em 0 0 0;
    }
    
    h2{
        margin: 1em;
    }

    .mensaje-resultado{
        height: auto;
    }

    #copiar{
        margin:1em 0 0 0;
        width: 40%;
    }

    footer{
        padding: 0;
    }
}




@media screen and (max-width: 412px) { /*❚❚❚❚❚❚❚❚❚❚❚❚❚❚ MOBILE ❚❚❚❚❚❚❚❚❚❚❚❚❚❚*/
    
    header{
        padding-bottom: 0;
    }

    h1{
        font-size: 25px;
    }

    .caja-formulario, .caja-resultado {
        display: block;
        width: 95%;
        max-height: 350px;
        margin: 0 auto;
    }

    .caja-resultado{
        padding: 5px 0 0 0;
        min-height: 0;
    }

    textarea, #impresionResultado {
        height: 200px;
        margin: 0;
    }

    textarea, input{
        font-size: 15px;
    }

    .caja-alerta {
        margin: 0;
        padding: 7px;
    }

    .botonera{
        margin: 0 auto 20px;
    }

    .boton{
        min-width: 0;
        text-align: center;
        padding: 7px;
    }

    .personaje {
        max-width: 200px;
        margin: 1em 0 0 0;
    }
    
    h2{
        margin: 1em 0;
        font-size: 20px;
        padding: 10px 0 0;
        text-align: center;
    }

    .mensaje-resultado{
        height: auto;
    }

    .mensaje-resultado p{
        padding: 0 0 1em 0;
    }

    #copiar{
        margin: 5px 0 10px 0;        
        width: 40%;
    }

    footer{
        padding: 0;
        margin: 0;
        position: inherit;
    }

    .hechopor{
        width: 50%;
    }

    .hechopor .logo{
        transform: scale(0.7);
    }
    
    .copyright {
        font-size: 10px;
    }

    .copyright:hover {
        transform: scale(1.2);
    }

    .hechopor div .copyright:first-child {
        margin: 10px auto;
    }

    .seguime{
        margin: 10px 0 0 0;
    }
    .botonesredes li{
        margin: 1em 0 0 0;
        min-width: 41px;
    }

    .redes-logo:hover{
        transform: scale(1.2);
    }
}
